---
---

html {
  background: url(../../assets/images/maddie.jpg) no-repeat center center fixed #fff;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body {
  font-family: "industry-inc-base";
  color: white;
}

a {
  color: white;
}
